/*
global
*/

html {
  font-family: 'PT sans', sans-serif;
}


/*
 Body
*/

body {
  max-width: 700px;
  margin: auto;
}


/*
 Nav
*/
nav {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

nav a {
  margin: 0px 20px;
  padding: 10px;
  border-radius: 5px;
  background: #EEE;
  text-decoration: none;
  color: black;
}

/*
 Header
*/
#site-header {
  margin-top: 100px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}

#site-header h1, #site-header h4 {
  text-align: center;
}

#site-header img {
  display: block;
  height: 100px;
  width: auto;
  margin: auto;
  border-radius: 100%;
}

/*
footer
*/

#social-media-icons {
  list-style: none;
  text-align: center;
  padding: 0px;
  font-size: 3em;
}

#social-media-icons li {
  display: inline;
}

#social-media-icons a {
  text-decoration: none;
  color: #666;
}

/*
Blog
*/
.post-content a {
  text-decoration: none;
  color: black;
}

.post-content p a {
  padding: 6px;
  background: #EEE;
  border-radius: 3px;
}
