.tag {
  padding-left: 3px;
  padding-right: 3px;
  margin: 3px;
  border-radius: 3px;
}

.sound-body {
  background: #F66;
}

.weight-loss {
  background: #F60;
}

.productivity {
  background: #0F9;
}
