<div class="footer">
  <ul id="social-media-icons">
    {% if site.twitter_username %}
      <li>
        <a href="https://twitter.com/{{ site.twitter_username }}">
          <i class="fa fa-twitter" title="Follow me on twitter"></i>
        </a>
      </li>
    {% endif %}
    {% if site.github_username %}
      <li>
        <a href="https://github.com/{{ site.github_username }}">
          <i class="fa fa-github" title="View CzechsMix on github"></i>
        </a>
      </li>
    {% endif %}
      <li>
        <a href="/feed.xml">
          <i class="fa fa-rss" title="Subscribe to Blog via RSS"></i>
        </a>
      </li>
      <li>
        <a href="mailto: sferree567@gmail.com">
          <i class="fa fa-envelope" title="Email czechsmix"></i>
        </a>
      </li>
  </ul>
</div>
