<header id="site-header">
    <a href="{{ site.url }}"><img src="/img/site_logo.jpg" alt="Picture of Sam" class="header-img"></a>
    <h1 class="site-title">Sam Ferree</h1>
    <h4 class="site-tagline">
      "Success is nothing more than a few simple disciplines, practiced every day;
       while failure is simply a few errors in judgment, repeated every day."
        -- Jim Rohn
    </h4>
</header>
<nav>
  <a href="/about">About</a>
  <a href="/blog">Blog</a>
  <a href="/projects">Projects</a>
</nav>
